.App{
    width:100%;
    padding-bottom: 80px;
}

.title{
    margin:0 20px;
    margin-top: -90px;
    margin-bottom: -40px;
    height:300px;
    font-size:50px;
    text-align:center;
    font-weight: 700;
    line-height: 300px;
    background: linear-gradient(104deg, #050A27 0%, #4A548C 100%);
    background-clip: text;
    z-index: 3!important;
    -webkit-text-fill-color: transparent;
    
}

